%br

- @months.each do |m|
    = m
    
%br
- @days.each do |d|
    = d

%br    
%br        
= button_to "Contact", contact_path, :method => :get

= button_to "About", contact_about_path, :method => :get
